<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <i-col span="4">
                <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
            </i-col>
            <i-button @click="query">查询</i-button>
			#if($shiro.hasPermission("wxmsgreply:save"))
            <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
			#end
			#if($shiro.hasPermission("wxmsgreply:update"))
            <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
			#end
			#if($shiro.hasPermission("wxmsgreply:delete"))
            <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
			#end
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="wxMsgReply" :rules="ruleValidate" :label-width="80">
            <Form-item label="msgid" prop="msgid">
                <i-input v-model="wxMsgReply.msgid" placeholder="msgid"/>
            </Form-item>
            <Form-item label="openid" prop="openid">
                <i-input v-model="wxMsgReply.openid" placeholder="openid"/>
            </Form-item>
            <Form-item label="信息类型" prop="type">
                <i-input v-model="wxMsgReply.type" placeholder="信息类型"/>
            </Form-item>
            <Form-item label="信息内容" prop="content">
                <i-input v-model="wxMsgReply.content" placeholder="信息内容"/>
            </Form-item>
            <Form-item label="微信ID" prop="wxid">
                <i-input v-model="wxMsgReply.wxid" placeholder="微信ID"/>
            </Form-item>
            <Form-item label="操作人" prop="opby">
                <i-input v-model="wxMsgReply.opby" placeholder="操作人"/>
            </Form-item>
            <Form-item label="操作时间" prop="opat">
                <i-input v-model="wxMsgReply.opat" placeholder="操作时间"/>
            </Form-item>
            <Form-item label="删除标记" prop="delflag">
                <i-input v-model="wxMsgReply.delflag" placeholder="删除标记"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/wx/wxmsgreply.js?_${date.systemTime}"></script>
</body>
</html>